:root {
  --operator: #ff8f1f;
  --operator-focus: #ffc183;
  --top-operator: #1e90ff;
  --top-operator-active: #72aae2;
  --operand: #217c7e;
  --operand-active: #33b9bb;
  --container: #aaa;
  --border: #333;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 400px;
  border: 2px var(--border) solid;
  border-radius: 15px;
  margin: 30px auto;
  padding: 20px;
  background-color: var(--container);
}

.grid-button {
  display: grid;
  grid-template-columns: (4, 1fr);
}
